<div class="card">
    <div class="Header">
        <div class="title">{{ value.id }} {{ value.title }}</div>
        <div class="address">{{ value.contact.zipcode }} {{ value.contact.city }}</div>
    </div>
    <div class="body">
        <div class="image">
            <img [src]="value.mainImage.cardUrl1x" [alt]="value.mainImage.altText">
        </div>
        <div class="description" [innerHTML]="value.description | description"></div>
    </div>
    <div class="footer">
        <a class="further-info" target="_blank"
           [href]="'https://www.niederoesterreich-card.at/' + value.uri">{{ buttonText }}</a>
        @if (rating != null) {

            <div [class]="'rating rating-'+rating.rating">
                @if (rating.rating == 1) {
                    <p>FAVORIT</p>
                } @else if (rating.rating == 2) {
                    <p>TOLL</p>
                } @else if (rating.rating == 3) {
                    <p>OK</p>
                } @else if (rating.rating == 4) {
                    <p>NEIN</p>
                }

            </div>
        }
        <div class="tag-container">
            @for (tag of (rating?.tag ?? []); track tag) {
                <app-tag [tag]="tag"></app-tag>
            }
        </div>
    </div>
</div>
