<div class="filter">
    <div class="row">
        @for (tag of tags; track tag) {
            <div class="tag-container">
                <app-tag [tag]="tag" (click)="onClickTag(tag)" [state]="tagStates[tag]"></app-tag>
            </div>
        }

    </div>
    <div class="row">
        @for (rating of ratings; track rating) {
            <button [class]="'rating-' + rating + ' state-' + ratingStates[rating]" (click)="onClickRating(rating)">
                {{ ratingNames[rating] | uppercase }}
            </button>
        }
    </div>
    <div class="row sorting-row">
        <button class="sorting-button {{asc ? '' : ' desc'}}" (click)="onSortingClick()">➤</button>
        <select [(ngModel)]="sortingCriteria" (change)="onSortingChange()">
            @for (sc of sortingCriterias; track sc) {
                <option [value]="sc">{{ sortingCriteriaName[sc] }}</option>
            }
        </select>
    </div>
</div>
