.filter {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 1em;
}

.row {
    display: flex;
    justify-content: space-between;
    min-width: 80vw;
    width: 80vw;
    max-width: 100vw;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1em;
}

.row.sorting-row {
    justify-content: flex-end;
}

.tag-container {
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25em;
}

button {
    min-width: 5em;
    padding: 0.5em 0.8em;
    font-size: 1em;
    border: 0;
    color: white;
    font-weight: bold;
}

button.sorting-button {
    transform: rotate(-90deg);
    min-width: 2em;
    max-width: 2em!important;
    height: 2em!important;
    padding: 0;
    color: grey;
    text-align: center;
}

select {
    min-width: 2em;
    height: 2em!important;
    padding: 0 0.75em 0 0.5em;
    color: black;
    text-align: center;
    font-size: 1em;
    border: 0;
}

button.sorting-button.desc {
    transform: rotate(90deg);
}

.rating-1 {
    background-color: #1E8449;
    border-color: #1E8449;
}

.rating-2 {
    background-color: #58D68D;
    border-color: #58D68D;
}
.rating-3 {
    background-color: #F5B041;
    border-color: #F5B041;
}
.rating-4 {
    background-color: #E74C3C;
    border-color: #E74C3C;
}

.state-0 {
    filter: grayscale(70%) brightness(120%);
    margin: 0.25em;
}

.state-0:is(.rating-2, .rating-3, .rating-4) {
    filter: grayscale(70%) brightness(100%);
}


.state-1 {
    margin: 0.25em;
}
.state-2 {
    background: #333333 !important;
    border-width: 0.25em;
    border-style: solid;
}


