<app-filter (filterValues)="onFilterChange($event)"></app-filter>

<div class="content" *ngIf="filter?.sorting?.criteria == SortingCriteria.RATING">
    <h2 *ngIf="(data?.entries ?? []) | rating:1 | filter:filter | length">
        FAVORIT ({{(data?.entries ?? []) | rating:1 | filter:filter | length}})
    </h2>
    <div class="list" *ngIf="data != null && ((data.entries ?? []) | rating:1 | filter:filter | length)">
        <app-compact-card *ngFor="let e of data.entries | rating:1 | filter:filter" [value]="e"></app-compact-card>
    </div>

    <h2 *ngIf="(data?.entries ?? []) | rating:2 | filter:filter | length">
        TOLL ({{(data?.entries ?? []) | rating:2 | length}})
    </h2>
    <div class="list" *ngIf="data != null &&  ((data.entries ?? []) | rating:2 | filter:filter | length)">
        <app-compact-card *ngFor="let e of data.entries | rating:2| filter:filter" [value]="e"></app-compact-card>
    </div>

    <h2 *ngIf="(data?.entries ?? []) | rating:3 | filter:filter | length">
        OK ({{(data?.entries ?? []) | rating:3 | length}})
    </h2>
    <div class="list" *ngIf="data != null &&  ((data.entries ?? []) | rating:3 | filter:filter | length)">
        <app-compact-card *ngFor="let e of data.entries | rating:3| filter:filter" [value]="e"></app-compact-card>
    </div>

    <h2 *ngIf="(data?.entries ?? []) | rating:4 | filter:filter | length">
        NEIN ({{(data?.entries ?? []) | rating:4 | length}})
    </h2>
    <div class="list" *ngIf="data != null && ((data.entries ?? []) | rating:4 | filter:filter | length)">
        <app-compact-card *ngFor="let e of data.entries | rating:4| filter:filter" [value]="e"></app-compact-card>
    </div>

</div>
<div class="content" *ngIf="filter?.sorting?.criteria != SortingCriteria.RATING">
    <div class="list" *ngIf="data != null &&  ((data.entries ?? []) | filter:filter | length)">
        <app-compact-card *ngFor="let e of data.entries | filter:filter" [value]="e"></app-compact-card>
    </div>
</div>


