<div [class]="'card ' + (isEven ? 'even' : 'odd')">
    <div class="image">
        <img src="assets/zug.png" />
    </div>
    <div class="card-content">
        <h2>{{stop.title}}</h2>
        <table>

            <tr>
                <th *ngFor="let header of stop.headers" [innerHTML]="header.title"></th>
            </tr>
            <tr *ngFor="let connecton of stop.connection">
                <td *ngFor="let c of connecton; let i = index" [class]="getClass(i)">{{c}}</td>
            </tr>
        </table>
        <p *ngIf="stop.connectionInfo" class="trip-info">{{stop.connectionInfo}}</p>
    </div>
</div>
