<div class="page" *ngFor="let page of pages">
    <div class="wrapper" *ngIf="response != null">
        <div class="card-wrapper" *ngFor="let stop of page, let i = index">
            <app-basic-stop
                *ngIf="stop.type == 'basic'"
                [isEven]="i % 2 == 0"
                [stop]="stop"
                [data]="response"
                [id]="tripId"
            ></app-basic-stop>
            <app-connection-stop *ngIf="stop.type == 'connection'" [isEven]="i % 2 == 0"
                                 [stop]="stop"></app-connection-stop>
        </div>
    </div>
</div>
